body {
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-one: #D0D6B3;
  --color-two: #E4C1F9;
  --color-three: #AAAE7F;
  --color-four: #5B507A;
  --color-five: #3c422d;
}

* {
  background-color: var(--color-one);
  color: var(--color-five);
}

#main {
  margin-top: 220px;
  margin-bottom: 130px;
}

/* header */
#header {
  background-color: var(--color-three);
  width: 100%;
  margin: 0;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

#header h1 {
  background-color: var(--color-three);
}

#header nav {
  background-color: var(--color-three);
}

h1 {
  font-size: 40px;
}

#nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

button {
  border: 2px solid #5B507A;
  border-radius: 10px;
  background-color: #E4C1F9;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  margin: 5px;
}

button span {
  background-color: #E4C1F9;
}

.navActive {
  background-color: #5B507A;
}

.navActive span {
  background-color: #5B507A;
  color: #E4C1F9;
}

/* footer */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: var(--color-three);
  text-align: center;
}

#footer p {
  background-color: var(--color-three);
}

#footer a {
  background-color: var(--color-three);
  opacity: 75%;
}

#footer svg {
  background-color: var(--color-three);
}

#footer a:hover {
  opacity: 100%;
}

/* about */
h2 {
  font-size: 30px;
}

#selfie {
  max-height: 200px;
  margin: 15px;
  border: 2px solid var(--color-four);
  border-radius: 10px;
}

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#bio {
  width: 60%;
  margin: 15px;
}

/* projects */

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px
}

#gallery img {
  height: 100px;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 200px;
  background-size: cover;
  margin: 10px;
  border: 2px solid var(--color-four);
  border-radius: 7px;
}

.card a {
  background-color: rgba(228, 193, 249, 1);
  color: rgba(91, 80, 122);
  margin: 5px;
  width: fit-content;
  font-size: 20px;
  font-weight: bold;
}

.card a svg {
  background-color: rgba(228, 193, 249, 1);
  color: rgba(91, 80, 122);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h3 {
  font-size: 20px;
}

/* contact */
#contact-form div {
  margin: 10px;
}

#contact-form input {
  margin: 8px;
  border: 1px solid var(--color-three)
}

#contact-form textarea {
  margin: 8px;
  border: 1px solid var(--color-three)
}

.error-text {
  font-weight: bold;
}

/* resume */
#download {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}